table {
    width: 100%;
}

.mat-form-field {
    margin: 2%;
    font-size: 14px;
    width: 10%;
}

.container {
    width: 80%;
    height: 100%;
    background-color: rgb(158, 165, 60);
}

mat-card {
    width: 80%;
    height: 100%;
    background-color: rgb(192, 187, 181);
}

.team-header-image {
    background-size: cover;
}

.example-spacer {
    flex: 1 1 auto;
}
.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #2644f0;
    z-index: 9999;
}
